#img-bg{
    background-image: url(https://i.pinimg.com/originals/ee/33/26/ee3326130f7e4f6fe1e8abe7fa594bd5.jpg);
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}